<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Kaori Laundry</title>
</head>

<body>
    <h1>Transactions List</h1>

    <div style="width: 30%;" class="form-group" action="/admins/filter" method='GET'>
        <form>
            <select class="custom-select" name="status">
                <option value="Unhandled">Unhandled</option>
                <option value="Pick Up">Pick Up</option>
                <option value="Cleaning">Cleaning</option>
                <option value="On Delivery">On Delivery</option>
                <option value="Done">Done</option>
            </select>
            <input type="submit" value="Submit" class="btn btn-secondary">
            <br>
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>UserId</th>
            <th>CategoryId</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Invoice</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <% transactions.forEach(transaction=>{ %>
        <tr>
            <td><%= transaction.UserId%></td>
            <td><%= transaction.CategoryId%></td>
            <td><%= transaction.qty%></td>
            <td><%= formatRupiah(transaction.total_price)%></td>
            <td><%= moment(transaction.start_date).format('DD MMMM YYYY')%></td>
            <td><%= moment(transaction.end_date).format('DD MMMM YYYY')%></td>
            <% if(transaction.invoice){%>
            <td> <a href="<%= transaction.invoice%>">Check Invoice Here</a></td>
            <% } else{%>
            <td>Waiting for Payment</td>
            <%}%>
            <td><%= transaction.status%></td>
            <% if(transaction.status==="Done"){%>
            <td> <a href="/admins/deleteTransaction/<%=transaction.pay_code%>">Delete</a> </td>
            <%}else if(!transaction.invoice){%>
            <td> Can't Update </td>
            <%}else{%>
            <td> <a href="/admins/editTransaction/<%=transaction.pay_code%>">Update</a> </td>
            <% }}) %>
        </tr>
    </table>

</body>

</html>