<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<br>
<h2 class="text-center">Transactions List</h2>

<div style="width: 10%; margin-left: 135px;" class="form-group" action="/admins/filter" method='GET'>
    <form>
        <select class="custom-select text-center" name="status"  style="font-size: 12px;">
            <option value="Unhandled">Unhandled</option>
            <option value="Pick Up">Pick Up</option>
            <option value="Cleaning">Cleaning</option>
            <option value="On Delivery">On Delivery</option>
            <option value="Done">Done</option>
        </select> <input type="submit" value="Filter by Status" style="font-size: 12px;" class="btn btn-secondary">
        
    </form>
</div>

<table class="table table-striped mt-2" style="width: 80%; margin-left: 135px;">
    <thead class="text-center" style="font-size: 14px;">
        <tr>
            <th>UserId</th>
            <th>CategoryId</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Invoice</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <% transactions.forEach(transaction=>{ %>
    <tbody class="text-center" style="font-size: 12px;">
        <tr>
            <td><%= transaction.UserId%></td>
            <td><%= transaction.CategoryId%></td>
            <td><%= transaction.qty%></td>
            <td><%= formatRupiah(transaction.total_price)%></td>
            <td><%= moment(transaction.start_date).format('DD MMMM YYYY')%></td>
            <td><%= moment(transaction.end_date).format('DD MMMM YYYY')%></td>
            <% if(transaction.invoice){%>
            <td> <a href="<%= transaction.invoice%>">Check Invoice Here</a></td>
            <% } else{%>
            <td>Waiting for Payment</td>
            <%}%>
            <td><%= transaction.status%></td>
            <% if(transaction.status==="Done"){%>
            <td> <a href="/admins/deleteTransaction/<%=transaction.pay_code%>">Delete</a> </td>
            <%}else if(!transaction.invoice){%>
            <td> Can't Update </td>
            <%}else{%>
            <td> <a href="/admins/editTransaction/<%=transaction.pay_code%>">Update</a> </td>
            <% }}) %>
        </tr>
    </tbody>
</table>

<%- include('../user/layouts/footer') %>