<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<br>
<h2 class="text-center">categories List</h2>

    <a href="/admins/addCategory"style="font-size: 12px;" class="btn btn-secondary">Add Category</a>
    <br><br>
    <table class="table table-striped mt-2" style="width: 80%; margin-left: 135px;">
        <thead class="text-center" style="font-size: 14px;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Fragrance</th>
            <th>Action</th>
        </tr>
        <% categories.forEach(category=>{ %>
            <tbody class="text-center" style="font-size: 12px;">
        <tr>
            <td><%= category.id%></td>
            <td><%= category.name%></td>
            <td><%= formatRupiah(category.price)%></td>
            <td><%= category.duration%> day(s)</td>
            <td><%= category.Parfume.name%></td>
            <td> <a href="/admins/deleteCategory/<%=category.id%>">Delete</a> |
                <a href="/admins/editCategory/<%=category.id%>">Update</a> </td>
        </tr>
        </tbody>
        <%})%>
    </table>

    <%- include('../user/layouts/footer') %>
