
<%- include('layouts/header') %>
<%- include('layouts/navbar', { islogin : isLogin }) %>
<br>
<h2 class="text-center">Keranjang Laundry</h2>
<br>
<div class="col-md-10 mx-auto">
    <% if(messages.error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= messages.error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
    <% } %>
    <% if(status) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= status %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
    <% } %>
    <% if(messages.success) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages.success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
    <% } %>
    <% if(rows > 0){ %>
    <a href="/laundry/checkoutInvoice/<%= user.id %>/multiple" type="button" class="btn main-bg-color text-light"><i class="fa fa-check-circle" aria-hidden="true"></i> Checkout All Belum Lunas</a>
    <% } %>
    <table class="table table-striped mt-2">
    <thead class="text-center" style="font-size: 14px;">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kategori</th>
        <th scope="col">Nama</th>
        <th scope="col">Quantity</th>
        <th scope="col">Harga</th>
        <th scope="col">Status</th>
        <th scope="col">Tanggal Selesai</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="text-center" style="font-size: 12px;">
    <% pakets.map((paket,index) => { %>
      <tr>
        <th scope="row"><%= index +1 %></th>
        <td><%= paket.Category.name %></td>
        <td><%= paket.User.name %></td>
        <td><%= paket.qty %></td>
        <td><%= formatRupiah(paket.total_price) %></td>
        <td><%= paket.status %></td>
        <td><%= moment(paket.end_date).format('DD MMMM YYYY') %></td>
        <td>
            <% if(paket.status == 'Unhandled'){ %>
                <a href="/laundry/updateDataTransaksi/<%= paket.pay_code %>/<%= paket.CategoryId %>" type="button" class="btn main-bg-color text-light btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Data</a>&nbsp;
                <a onclick="return confirm('Apakah kamu yakin ingin menhapus data ini ?')" href="/laundry/deleteDataTransaksi/<%= paket.pay_code %>" type="button" class="btn second-bg-color text-light btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                <% }else if(paket.status == 'Belum Lunas'){ %>
                    <a href="/laundry/checkoutInvoice/<%= paket.pay_code %>/single" type="button" class="btn main-bg-color text-light btn-sm"><i class="fa fa-check-circle" aria-hidden="true"></i> Checkout</a>&nbsp;
                    <a onclick="return confirm('Apakah kamu yakin ingin menhapus data ini ?')" href="/laundry/deleteDataTransaksi/<%= paket.pay_code %>" type="button" class="btn second-bg-color text-light btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> </a>
            <% }else if(paket.status == 'Invoice Terkirim'){ %>
                <p class="text-warning">Menunggu Konfirmasi</p>
            <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

</div>
<br>

<%- include('layouts/footer') %>


<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->