
<%- include('layouts/header') %>
<%- include('layouts/navbar', { islogin : isLogin }) %>
<%- include('layouts/jumbotron') %>

<h2 class="text-center">Pilih paket laundry yang kamu mau</h2>
<br>
<div class="col-md-8 mx-auto">
    <% if(messages.error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= messages.error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
    <% } %>
    <% if(status) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= status %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
    <% } %>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cari berdasarkan nama paket" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="submit" class="btn main-bg-color text-light">Cari Paket</button>
        </div>
      </div>
      <br>

      <div class="col-md-12">
          <p>Paket Terbaik Kami : <%= isLogin %></p>
          <div class="row">
              <div class="col-md-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2fFodnX9AI6yDhgFR3WAv1oDRed8k8Wi7JEUzjgKJrGJsGNxC" class="card-img-top" alt="...">
                    <div class="card-body">
                      <small class="card-text text-info" style="font-weight: bold;"><i class="fa fa-tags" aria-hidden="true"></i> Paket Cepat 1</small>
                      <small class="card-text"><i class="fa fa-check-square" aria-hidden="true"></i> Melati</small>
                      <small class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 Hari</small>
                      <small class="card-text"><i class="fa fa-star" aria-hidden="true"></i> 5 / 5</small>
                      <small class="card-text text-info pb-2"><i class="fa fa-usd" aria-hidden="true"></i> Rp. 1.000/pcs</small>
                      <a href="/login" class="btn btn-warning btn-sm text-light card-btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Cart</a> &nbsp;
                      <a href="/logout" class="btn main-bg-color text-light btn-sm card-btn" type="button"> Wash</a> &nbsp;
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2fFodnX9AI6yDhgFR3WAv1oDRed8k8Wi7JEUzjgKJrGJsGNxC" class="card-img-top" alt="...">
                    <div class="card-body">
                      <small class="card-text text-info" style="font-weight: bold;"><i class="fa fa-tags" aria-hidden="true"></i> Paket Cepat 1</small>
                      <small class="card-text"><i class="fa fa-check-square" aria-hidden="true"></i> Melati</small>
                      <small class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 Hari</small>
                      <small class="card-text"><i class="fa fa-star" aria-hidden="true"></i> 5 / 5</small>
                      <small class="card-text text-info pb-2"><i class="fa fa-usd" aria-hidden="true"></i> Rp. 1.000/pcs</small>
                      <a href="/login" class="btn btn-warning btn-sm text-light card-btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Cart</a> &nbsp;
                      <a href="/logout" class="btn main-bg-color text-light btn-sm card-btn" type="button"> Wash</a> &nbsp;
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2fFodnX9AI6yDhgFR3WAv1oDRed8k8Wi7JEUzjgKJrGJsGNxC" class="card-img-top" alt="...">
                    <div class="card-body">
                      <small class="card-text text-info" style="font-weight: bold;"><i class="fa fa-tags" aria-hidden="true"></i> Paket Cepat 1</small>
                      <small class="card-text"><i class="fa fa-check-square" aria-hidden="true"></i> Melati</small>
                      <small class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 Hari</small>
                      <small class="card-text"><i class="fa fa-star" aria-hidden="true"></i> 5 / 5</small>
                      <small class="card-text text-info pb-2"><i class="fa fa-usd" aria-hidden="true"></i> Rp. 1.000/pcs</small>
                      <a href="/login" class="btn btn-warning btn-sm text-light card-btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Cart</a> &nbsp;
                      <a href="/logout" class="btn main-bg-color text-light btn-sm card-btn" type="button"> Wash</a> &nbsp;
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2fFodnX9AI6yDhgFR3WAv1oDRed8k8Wi7JEUzjgKJrGJsGNxC" class="card-img-top" alt="...">
                    <div class="card-body">
                      <small class="card-text text-info" style="font-weight: bold;"><i class="fa fa-tags" aria-hidden="true"></i> Paket Cepat 1</small>
                      <small class="card-text"><i class="fa fa-check-square" aria-hidden="true"></i> Melati</small>
                      <small class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 Hari</small>
                      <small class="card-text"><i class="fa fa-star" aria-hidden="true"></i> 5 / 5</small>
                      <small class="card-text text-info pb-2"><i class="fa fa-usd" aria-hidden="true"></i> Rp. 1.000/pcs</small>
                      <a href="/login" class="btn btn-warning btn-sm text-light card-btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Cart</a> &nbsp;
                      <a href="/logout" class="btn main-bg-color text-light btn-sm card-btn" type="button"> Wash</a> &nbsp;
                    </div>
                  </div>
              </div>
          </div>
      </div>

</div>
<br>

<%- include('layouts/footer') %>
