<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include("navHome") %>

    <h1>transaction List</h1>
    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>CategoryId</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Update</th>
        </tr>
        <% transactions.forEach(transaction=>{ %>
        <tr>
            <td><%= transaction.UserId%></td>
            <td><%= transaction.CategoryId%></td>
            <td><%= transaction.qty%></td>
            <td><%= transaction.price%></td>
            <td><%= transaction.start_date%></td>
            <td><%= transaction.end_date%></td>
            <td><%= transaction.status%></td>
            <td><%= transaction.qty%></td>

        </tr>
        <%})%>
    </table>

</body>

</html>